---
- name: Install K3s
  shell: curl -sfL https://get.k3s.io | sh -
  args:
    creates: /usr/local/bin/k3s


- name: Install helm 3 
  shell: curl -sSLf https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash

